<nav>
    <div class="discoverfy"><a href="/">Discoverfy</a></div>
        <ul>
            <li id="menu-icon"><a href="#"><i class="fa fa-bars"></i></a></li>
            <li class="list-item top hide"><a href="/recenttracks">Recently Played Tracks</a></li>
            <li class="list-item hide"><a href="/toptracks/p?time_range=short_term">Top Tracks</a></li>
        </ul>
</nav>