<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="CSS/style.css">
    <title>Discoverfy</title>
</head>
<body class="gradient-background">
    <div class="intro"></div>
    <h1 id="main-title">Discoverfy</h1>
    <h4 id="description">Find new music based on what you're already listening to</h4>
    <div class="center-btn">
        <a href="/login"><button id="login-btn">Login with Spotify</button></a>
    </div>
</body>
</html>