<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="module" src="JS/script.js"></script>
    <title>Discoverfy</title>
</head>
<body>
    <%- include('../partials/header') %>

    <section class="songs">
        <div class="songs-head">
            <h3 class="list-title" id="users-songs-title">Your Recently Played Tracks</h3>   
        </div>

        <%- include('../partials/list-items') %>
    </section>
</body>
</html>