<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="./script.js" defer></script>
    <title>Discoverfy</title>
</head>
<body>
    <nav >
        <div class="discoverfy">Discoverfy</div>
            <ul>
                <li id="menu-icon"><a href="#"><i class="fa fa-bars"></i></a></li>
                <li class="list-item top hide"><a href="/recenttracks">Recently Played Tracks</a></li>
                <li class="list-item active hide"><a href="/toptracks">Top Tracks</a></li>
            </ul>
    </nav>

    <section class="songs">
        <div class="songs-head">
            <h3 class="list-title" id="users-songs-title">Your Top Tracks</h3>   
        </div>
        <div class="list">
            <% songs.forEach(song => { %>
            <div class="song-list-item">
                <div class="song-details">
                    <img class="album-img" id="top-tracks-image" src="<%= song.image %>" alt="album art">
                    <p class="song-title" id="top-tracks-title"><%= song.name %></p>
                    <p class="artists-name" id="top-tracks-artists"><%= song.artists %></p>
                </div>    
                <div class="btn-right">
                    <a href="/recommendations"><button class="recommendations-btn">Find new music</button></a>
                </div>
            </div>
            <% }) %>
            
        </div>
    </section>
</html>